PORT=3000
ENVIRONMENT="development"
#DATABASE_URL="mongodb://localhost:27017/dev-db?replicaSet=rs0&directConnection=true"#lOCAL
DATABASE_URL="mongodb://db:27017/dev-db?replicaSet=rs0&directConnection=true"#DOCKER
JWT_SECRET="your_jwt_secret_key"
